img{
    width: 84%;
    height: 156px;
    /* auto goes on center */
    margin:auto
}
body{
    margin: 0;
    padding: 0;
}
main{
   
    display: flex;
    justify-content: center;
}
form{
    
    width: 30%;
    padding: 0px 40px 20px 40px;
    /* becz when we apply padding size incerss thats why we apply box sizing */
    box-sizing: border-box;
    border: 2px solid gray;
    margin-top: 20px;
}
img,input,a,button{
    display: block;
}
input{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid gray;
    background-color: rgba(205, 195, 195, 0.989);
}
button{
    width: 100%;
    height: 40px;
    color: white;
    background-color: rgb(56, 56, 171);
    border-radius: 5px;
    margin-top: 20px;
    border: none;
}
hr{
    margin-top: 40px;
}
a{
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}
h4{
    /* they dont accupy any space */
    position: absolute;
    top: -100%;
    left: 46%;
    background-color: white;
    padding: 0px 10px;
}
#or-cont{
    position: relative;
    height: 30px;
}